@charset "utf-8";
*{
    margin:0px;padding:0px;
}
html{
    height:100%
}
body{
    height:100%;
    color:white;

}

header{
    width: 100%;
    height:100%;
}
.bbg{

    height:700px;
    width: 100%;
   // border:1px solid red;
    box-sizing: border-box;
    background: red;
    // background-image: url('img/5454.png');
    // background-repeat:no-repeat;
    // background-size:100% 100%;
     box-sizing: border-box;
    background-image:url(img/bluebg.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.content{
    height:700px;
    width: 100%;
   // border:1px solid red;
    background-image: url('img/5454.png');
    background-repeat:no-repeat;
    background-size:70% 50%;
    background-position:center 50px;
}
.content>div:nth-child(1){
    position:relative;
    height:20%;
    width: 100%;
   // border:1px solid red;
    box-sizing: border-box;
    margin:auto;
    text-align: center;
    font-familt:"楷体";

 //   line-height: 172.5px;
}
.content>div:nth-child(1)>b{
    font-size:3em;
    position:absolute;
    font-weight:normal;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}
.content>div:nth-child(1)>p{
    position:absolute;
    top:85%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:1.2em;
 //   line-height: 192.5px;!important
}
.content>div:nth-child(2){
    height:30%;
    width: 100%;
  //  border:1px solid red;
    box-sizing: border-box;
//    padding:1px;
}
.circle{
    width: 200px;
    height:200px;
    //background: red;
    margin:auto auto;
}
.circle>div{
    width: 200px;
    height:200px;
    background-image:url(img/9845.png);
    background-repeat:no-repeat;
    background-size:100%;
    text-align: center;

}
.circle>div>div{
    font-size:3em;
    color:white;
    line-height:200px;
    width: 200px;
    height:200px;
    background-image:url(img/123.png);
    background-repeat:no-repeat;
    background-size:100px;
    background-position: right top;
}
.quire{
    width: 200px;
    height:47px;
   // background: blue;
    margin:auto auto;
}
.content>div:nth-child(3){
    height:20%;
    width: 100%;
 //   border:1px solid red;
    box-sizing: border-box;
}
.gary{
        width:400px;
        height:72px;
        margin:auto;
        position:relative;
}
.gary>img{
        position:absolute;
        bottom:0;
        left:50%;
        transform:translate(-50%);
        margin:auto auto;
        height: 200px;
}
.radius{

        width:400px;
        height:100px;
    //    background: red;
        margin:auto;
        background-image:url(img/shadow.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        position:relative;
        top:-30px;
       // background-position:0px -30px;
        text-align:center;
}
button{
        position:relative;
        top:20px;
        color:blue;
        width: 150px;
        height:35px;
        border-radius:25px;
        box-shadow:1px 1px 20px gray;
        border:none;
}
.bg1{
    height: 30%;
    width: 100%;
  //  border:1px solid blue;
    box-sizing: border-box;
    background-image:url(img/bg1.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}